@import "../core/reset.scss";
@import "../core/variables.scss";

.character_card {
  width: 15%;
  height: 300px;
  height: fit-content;
  background-color: $primary_color;
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  @media all and (max-width: 320px) {
    width: 100%;
  }
  .character_img {
    width: 100%;
    border-radius: 5px;
  }
  .card_bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5px;
    .character_info {
      color: $font_color;
      padding: 10px 0 10px 20px;
      border-radius: 5px;
      width: 80%;
      .info_item {
        margin: 5px 0 5px 0;
      }
    }
    .status_icon {
      font-size: 30px;
      color: $font_color;
    }
  }
}
.character_card:hover {
  box-shadow: 0 0 2px 4px $neon_color;
}
