@import "../core/reset.scss";
@import "../core/variables.scss";

.character_detail {
  display: grid;
  grid-template-columns: 45% 25% 25%;
  grid-template-areas: "photo status species" "photo origin episodes";
  background-color: $primary_color;
  padding: 25px 25px 25px 25px;
  border-radius: 0.5rem;
  @media all and (max-width: 1200px) {
    grid-template-rows: 45% 25% 25%;
    grid-template-columns: 1fr 1fr;
    width: auto;
    flex-direction: column;
    font-size: 14px;
    grid-template-areas: "photo photo" "status species" " origin episodes";
  }
  &_img {
    width: 80%;
    grid-area: photo;
    border-radius: inherit;
    @media all and (max-width: 1200px) {
      height: 100%;
      width: auto;
      justify-self: center;
      align-self: center;
    }
  }
  .character_info_item_1 {
    height: 100%;
    grid-area: status;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .status_icon {
      font-size: 30px;
    }
  }
  .character_info_item_2 {
    height: 100%;
    grid-area: species;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .status_icon {
      font-size: 30px;
    }
  }
  .character_info_item_3 {
    height: 100%;
    grid-area: origin;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .status_icon {
      font-size: 30px;
    }
  }
  .character_info_item_4 {
    grid-area: episodes;
    justify-self: center;
    align-self: center;
  }
}
.no_found_img {
  height: 150px;
  @media all and (max-width: 1200px) {
    width: 60%;
    height: auto;
  }
}
