@import "../core/reset.scss";
@import "../core/variables.scss";

.character_detail {
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $primary_color;
  height: 80%;
  width: max-content;
  padding: 25px 25px 25px 25px;
  @media all and (max-width: 1200px) {
    width: auto;
    flex-direction: column;
    font-size: 14px;
  }
  &_img {
    width: 45%;
  }
}
.no_found_img {
  height: 150px;
  @media all and (max-width: 1200px) {
    width: 60%;
    height: auto;
  }
}
