@import "../core/reset.scss";
@import "../core/variables.scss";

.character_card {
  width: 15%;
  height: 260px;
  background-color: $primary_color;
  margin: 10px 10px 10px 10px;
  .character_img {
    width: 100%;
  }
  .character_info {
    background-color: violet;
    color: $font_color;
    padding-left: 20px;
    padding-top: 10px;
    .info_item {
      margin: 5px 0 5px 0;
    }
  }
}
