@import "../core/reset.scss";
@import "../core/variables.scss";

.characters_list_section {
  width: 100%;
  .characters_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .warning_message {
    font-size: 30px;
  }
}
