@import "../core/reset.scss";
@import "../core/variables.scss";

.form {
  display: flex;
  flex-direction: column;
}
.text_input {
  font-family: inherit;
  background-color: $page_background;
  border: solid 2px $primary_color;
  padding: 10px 20px 10px 20px;
  height: 15px;
  min-width: 250px;
  color: $font_color;
  border-radius: 5px;
  box-shadow: 0 0 3px 2px $neon_color;
  font-size: inherit;
  @media all and (max-width: 320px) {
    max-width: 70%;
    min-width: 40%;
  }
}
.text_input::placeholder {
  color: $primary_color;
}
.selector_container {
  margin-top: 25px;
  @media all and (max-width: 768px) {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  @media all and (max-width: 320px) {
    max-width: 70%;
    display: flex;
    flex-direction: column;
  }
  .species_filter {
    font-family: inherit;
    font-size: inherit;
    padding: 10px 20px 10px 20px;
    background-color: $neon_color;
    border-radius: 22px;
    margin: 0 5px 0 5px;
  }
  .status_filter {
    font-family: inherit;
    font-size: inherit;
    padding: 10px 20px 10px 20px;
    background-color: $neon_color;
    border-radius: 22px;
    margin: 0 5px 0 5px;
  }
}
