@import "../core/reset.scss";
@import "../core/variables.scss";

.text_input {
  background-color: $page_background;
  border: solid 2px $primary_color;
  padding: 10px 20px 10px 20px;
  height: 15px;
  min-width: 250px;
  color: $font_color;
}
//   .text_input:focus {
//     border-color: $primary_color;
//     -webkit-box-shadow: none;
//     box-shadow: none;
//   }
//   .text_input:active {
//     border: solid 2px $primary_color;
//   }
