@import "../core/reset.scss";
@import "../core/variables.scss";
.footer {
  height: 10%;
  background-color: $page_background;
  color: $primary_color;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
  padding: 0 20px 20px 0;
}
