@import "../core/reset.scss";
@import "../core/variables.scss";
.header {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: $page_background;
  &_logo {
    height: 100%;
    @media all and (max-width: 320px) {
      height: 80%;
    }
  }
  &_link {
    height: 100%;
  }
}
