@import "../core/reset.scss";
@import "../core/variables.scss";

.pages_nav_bar {
  background-color: $neon_color2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  //   padding: 15px 5px 15px 5px;
  border-radius: 30px;
  &_index {
    padding: 0 20px 0 20px;
    .input_page_number {
      padding-left: 3px;
      width: 35px;
      font-size: inherit;
      font-family: inherit;
      background-color: inherit;
      border-radius: 4px;
      border: 2px solid $font_color;
      margin: 0 6px 0 8px;
    }
  }
  &_button {
    font-family: inherit;
    font-size: inherit;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color: inherit;
  }
  &_button:hover {
    color: $font_color;
    font-weight: bold;
    box-shadow: 0px 0px 20px 4px $neon_color2;
  }
}
.hidden {
  display: none;
}
