@import "./reset.scss";
@import "./variables.scss";
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #eeec;
  .modal__dialog {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal__content {
      padding: 1rem;
      border-radius: 0.5rem;
      border: solid 3px $neon_color;
      box-shadow: 0 0 2px 5px rgba(57, 255, 20, 0.4);
      background-color: $page_background;
      .modal__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $neon_color;
        .modal__title {
          color: $page_background;
          font-size: 30px;
          color: $font_color;
        }
        .modal__close {
          padding: 6px 9px 6px 9px;
          background-color: $primary_color;
          border-radius: 50%;
          font-size: 20px;
          border: solid 2px black;
          color: black;
        }
        .modal__close:hover {
          box-shadow: 0 0 2px 2px rgba(255, 255, 0, 0.3);
          border-color: $accents_color;
          color: $accents_color;
        }
      }
    }
  }
}
