@import "./core/reset.scss";
@import "./core/variables.scss";
.page {
  background-color: $page_background;
  height: 100vh;
  //   height: 100%;
}
.header {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: $page_background;
  &_logo {
    height: 100%;
  }
}
.main {
  min-height: 70%;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $page_background;
  .text_input {
    background-color: $page_background;
    border: solid 2px $primary_color;
    padding: 10px 20px 10px 20px;
    height: 15px;
    min-width: 250px;
    color: $font_color;
  }
  //   .text_input:focus {
  //     border-color: $primary_color;
  //     -webkit-box-shadow: none;
  //     box-shadow: none;
  //   }
  //   .text_input:active {
  //     border: solid 2px $primary_color;
  //   }
}
.characters_list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  .character_card {
    width: 15%;
    height: 260px;
    background-color: $primary_color;
    margin: 10px 10px 10px 10px;
    .character_img {
      width: 100%;
    }
    .character_info {
      background-color: violet;
      color: $font_color;
      padding-left: 20px;
      padding-top: 10px;
      .info_item {
        margin: 5px 0 5px 0;
      }
    }
  }
}
.footer {
  height: 10%;
  background-color: $page_background;
  color: $primary_color;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
  padding: 0 20px 20px 0;
}
