@import "./core/reset.scss";
@import "./core/variables.scss";
.page {
  background-color: $page_background;
  height: 100vh;
  color: $font_color;
  //   height: 100%;
}
// .header {
//   height: 20%;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   padding-top: 20px;
//   background-color: $page_background;
//   &_logo {
//     height: 100%;
//   }
// }
.main {
  min-height: 70%;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $page_background;
}

// .footer {
//   height: 10%;
//   background-color: $page_background;
//   color: $primary_color;
//   display: flex;
//   flex-direction: row;
//   justify-content: end;
//   align-items: flex-end;
//   padding: 0 20px 20px 0;
// }
